$char_color:#552707;      //文字・線のカラー（こげ茶）
$accent_color1:#008000;   //注目させたい部分のカラーその1（グリーン）
$accent_color2:#FF6600;   //注目させたい部分のカラーその2(濃いオレンジ)
$accent_color3:orange;    //注目させたい部分のカラーその2(オレンジ)
$back_color:#ffcb4f;      //背景色（黄色）
$contents_color:#ffe4b5;  //コンテンツの背景色（モカシンアイボリー）
