@charset "utf-8";
@import "variables"; //定数外部ファイル
@import "module"; //外部ファイルモジュール

.bxslider img {
    margin: 0 auto;
    display:block;
}
// 回り込み解除
.strings1 {
    float:left; width:50%;
    background-image:url(../images/bk_green.jpg);
    color:white;
    h3 {text-align:center;}
    p { padding:20px;}
    a {
        background-color: $accent_color2;
        color: white;
        border-radius: 3px;}
}
.image1 img{ float:right; width:50%;}

.strings2 {
    float:right; width:50%;
    background-image:url(../images/bk_orange.jpg);
    color:white;
    h3 { text-align:center; margin-bottom: 0px;}
    p { padding:20px;}
    a {
        background-color: $accent_color1;
        color: white;
        border-radius: 3px;}
}
.image2 img{float:left;width:50%;}

.container::after {
 content: "";
 display:block;
 clear:both;
}

#contentsInner { position: relative;}
#illust01 {
    line-height: 0;
    @include free_position(-130px,-80px);
}
#illust03 {
    line-height: 0;
    @include free_position(-140px,730px);
}

#greeting,#news { padding:5px 15px;}
#news ul li {
    margin-top: 20px;
    padding: 0 10px 10px 160px;
    border-bottom: 1px dotted $char_color;
    text-indent: -160px;
    list-style-type:none;
    &::before {
         content: "NEW!";
         font-size: 10px;
         background-color: $accent_color1;
         color: white;
         border-radius: 3px;
    }
}
#news div {
     height:200px;
     overflow: auto;
}
