@charset "utf-8";
@import "module"; //外部ファイルモジュール

#floorImg div {
    width: 652px;
    margin:0 auto 0 auto;
    width:60%;
}

#floorImg {position:relative;}
#c01 {@include free_position(88%,45%);}
#c02 {@include free_position(88%,59%);}
#c03 {@include free_position(79%,23%);}
#c04 {@include free_position(42%,29%);}

#access {position:relative;}
#c05 {@include free_position(30%,60%);}
#c06 {@include free_position(33%,50%);}
#c07 {@include free_position(39%,54%);}
#c08 {@include free_position(46%,63%);}
#c09 {@include free_position(53%,47%);}

#access div{
 width: 652px;
 margin:0 auto 0 auto;
 width:100%;
}
.map { width:100%;}
th.thead01 { width:14%;}
th.thead02 { width:14%;}
caption { font-weight:bold; font-size:18px;}

// サイドを固定表示にする
#sub {@include free_position(258px,0px,fixed);}
