@charset "utf-8";
@import "variables"; //カラーコード変数

.logo {
    float:left;
    position:relative;
}
 .addr {
    margin-top:50px;
    margin-bottom: 10px;
    color:$char_color;
    font-size:24px;
    font-weight: bold;
    float:right;
}

table {
    table-layout: auto;
    width:100%;
    th { width:25%; text-align:left;}
    td { width:75%;}
}

table tr:last-child td{
    text-align: center;
}

input[type="email"] { width: 300px;}
input[type="text"] { width: 200px;}
input[type="textarea"] { width: 200px;}

// サイドを固定表示にする
#sub {
    position:fixed;
    top:248px;
}
