@charset "utf-8";
@import url(common.css); // for reset css
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico');
//************************************************************
//  header
//************************************************************
header {
     margin: 0 auto 0 auto;
     margin-top:10px;
     width: 960px;
}
.logo {float:left; margin:0 10px; }
.resavation{float:right; margin:0 10px;}
.tel {margin-top:30px; font-size: 30px; font-weight: bold; color:#552707;}

.logo {
     position: relative;
     top: 20px;
     left: 0px;
 }
nav {
    clear:both;
     width: 670px;
     position: relative;
     top: -30px;
     left: 300px;
}
nav ul {
    margin: 0 0 5px 0;
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}
nav ul li {
    width: 160px;
    float: left;
}
nav ul li a {
    display: block;
    height: 0;
    padding-top: 60px;
    overflow: hidden;
}
nav ul li#nav_top a {background: url(../images/navbtn01.gif) no-repeat;}
nav ul li#nav_menu a {background: url(../images/navbtn02.gif) no-repeat;}
nav ul li#nav_polisy a {background: url(../images/navbtn03.gif) no-repeat;}
nav ul li#nav_info a {background: url(../images/navbtn04.gif) no-repeat;}

.bxslider img {
    margin: 0 auto;
    display:block;
}
#index #nav_top a, #menu #nav_menu a, #polisy #nav_polisy a, #info #nav_info a, nav ul li a:hover {
    background-position: 0 -60px;
}

//************************************************************
//  body
//************************************************************
h1{
    background-image: url(../images/square.gif);
    background-repeat:no-repeat;
    background-size:contain;
    //横揃え
    text-align:center;
    //縦揃え
     line-height:88px;
}
h2 {
    border-left: 10px solid orange;
    border-bottom: 3px solid #552707;
    padding-left:10px;
    margin-top:50px;
    // font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
}
#contents {
    width: 960px;
    margin:0 auto 0 auto;
}
#contentsInner {position: relative;}
// #illust01 {
//     line-height: 0;
//     position: absolute;
//     top: -150px;
//     left: -65px;
// }
// #illust02 {
//     line-height: 0;
//     position: absolute;
//     top: -130px;
//     left: 750px;
// }
// #illust03 {
//     line-height: 0;
//     position: absolute;
//     top: -150px;
//     left: 850px;
// }

body {
     background-image: url("../images/background.jpg");
     background-repeat: repeat-x;
    background-position: center top;
    background-color: #ffcb4f;
}

#main {
    width:670px;
    padding:20px;
    float:left;
    background-color:#ffe4b5;
    margin-bottom: 30px;
}
// #greeting,#news {padding:5px 15px; }
// #news ul li {
//     margin-top: 20px;
//     padding: 0 10px 20px 160px;
//     border-bottom: 1px dotted #333333;
//     text-indent: -160px;
// }
// #news li::before {
//  content: "NEW!";
//  font-size: 10px;
//  background-color: #6668ff;
//  color: white;
//  border-radius: 3px;
// }


#sub {
    width:228px;
    float:right;
    margin:0 auto 0 auto;
    margin-bottom: 30px;
}

// // なぜがメディアクエリーが効かない
//  @media screen and (max‐width: 1280px) {
//   h1 {color:red;}
//  .bxslider img{
//     width:"100%";
//  }
// }

//************************************************************
//  footer
//************************************************************
footer {
    background-image: url("../images/footer.png");
    background-position: center top;
    background-repeat: repeat-x;
    margin: 0 auto 0 auto;
    text-align: center;
    height:120px;
    clear:both;
}



/*****************************************************************
 CSS for Jquery of parallax
/*****************************************************************
//***************
 * Intro Panel *
 ***************/
#header {
    color : #666;
}

#header #logo {
    margin : 20px 0 50px 0;
}

#header h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
}

#header h3 {
    background-color: #eee;
}

#header .story {
    width         : 850px;
    padding-right : 0px;
}

#header p {
    width     : 800px;
    font-size : 16px;
}

#header ul li {
    font-size : 16px;
    margin    : 16px 0 32px;
    border-bottom: 1px dotted #ccc;
    float: none;
    text-align: left;
    width: 600px;
}

#header ul {
    padding : 0px;
    overflow: hidden;
}

#header strong {
    font-weight: bold;
    font-size: 21px;
}

/***************
 * Intel Panel *
 ***************/
#second {
    color      : #FFF;
    background : #022639;
}

#second p {
    font-size: 16px;
}

/*********************
 * Ultrabook Project *
 *********************/
#third {
    color      : #CCC;
    background : #000;
}

#third .bg {
    left  : auto;
    right : 0px;
}

#third ul li {
    margin    : 16px 0 32px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #fff;
    text-align: left;
    width: 600px;
}

#third strong {
    font-weight: bold;
    font-size: 21px;
}

/**************
 * Bing Panel *
 **************/
#fourth {
    color       : #FFF;
    text-shadow : 1px 1px 1px #000;
    background  : #C9BC33;
}

#fourth .logo {
    position : absolute;
    right    : 20%;
    bottom   : 50%;
}

#fourth .logo.start {
    bottom : 190%;
}

#fourth .logo.end {
    bottom : -90%;
}

#fourth ul li {
    margin    : 16px 0 32px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #fff;
    text-align: left;
    width: 600px;
}

#fourth strong {
    font-weight: bold;
    font-size: 21px;
}


/**************
 * photo slide *
 **************/
#photoslide {
    color      : #CCC;
    background : #000;
}

#photoslide .logo {
    position : absolute;
    right    : 0%;
    bottom   : 30%;
}

#photoslide .logo.start {
    bottom : 170%;
}

#photoslide .logo.end {
    bottom : -210%;
}

#photoslide .box {
    background    : #000;
    opacity       : .7;
    border-radius : 10px;
    position      : absolute;
    top           : -10px;
    right         : 440px;
    bottom        : -10px;
    left          : -10px;
    z-index       : -1;
}

#photoslide ul.slide {
    display     : block;
    position    : absolute;
    white-space : nowrap;
    left        : -1426px;
}

#photoslide ul.slide.start {
    left : -1425px;
}

#photoslide ul.slide li {
    display : inline;
}

#photoslide ul.slide-1.start { opacity : 0; }
#photoslide ul.slide-2.start { opacity : 0; }
#photoslide ul.slide-3.start { opacity : 0; }

#photoslide ul.slide-1 {
    bottom : 0px;
}

#photoslide ul.slide-2, #photoslide ul.slide-2.to {
    bottom : 176px;
    left   : -1425px;
}

#photoslide ul.slide-2.start {
    left : -1426px;
}

#photoslide ul.slide-3 {
    bottom : 352px;
}


#photoslide ul.slide-1.to, #photoslide ul.slide-3.to {
    left : -1425px;
}

#photoslide ul.slide-1.end {
    right : 0px;
    left  : auto;
}

#photoslide ul.slide-3.end {
    right : 1200px;
    left  : auto;
}


#photoslide ul.slide-2.to {
    right : 0px;
}

#photoslide ul.slide-2.end {
    left : 200px;
}