.bxslider img {
  margin: 0 auto;
  display: block;
}

.strings1 {
  float: left;
  width: 50%;
  background-image: url(../images/bk_green.jpg);
  color: white;
}

.strings1 h3 {
  text-align: center;
}

.strings1 p {
  padding: 20px;
}

.strings1 a {
  background-color: #FF6600;
  color: white;
  border-radius: 3px;
}

.image1 img {
  float: right;
  width: 50%;
}

.strings2 {
  float: right;
  width: 50%;
  background-image: url(../images/bk_orange.jpg);
  color: white;
}

.strings2 h3 {
  text-align: center;
  margin-bottom: 0px;
}

.strings2 p {
  padding: 20px;
}

.strings2 a {
  background-color: #008000;
  color: white;
  border-radius: 3px;
}

.image2 img {
  float: left;
  width: 50%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

#contentsInner {
  position: relative;
}

#illust01 {
  line-height: 0;
  position: absolute;
  top: -130px;
  left: -80px;
}

#illust03 {
  line-height: 0;
  position: absolute;
  top: -140px;
  left: 730px;
}

#greeting, #news {
  padding: 5px 15px;
}

#news ul li {
  margin-top: 20px;
  padding: 0 10px 10px 160px;
  border-bottom: 1px dotted #552707;
  text-indent: -160px;
  list-style-type: none;
}

#news ul li::before {
  content: "NEW!";
  font-size: 10px;
  background-color: #008000;
  color: white;
  border-radius: 3px;
}

#news div {
  height: 200px;
  overflow: auto;
}
