#floorImg div {
  width: 652px;
  margin: 0 auto 0 auto;
  width: 60%;
}

#floorImg {
  position: relative;
}

#c01 {
  position: absolute;
  top: 88%;
  left: 45%;
}

#c02 {
  position: absolute;
  top: 88%;
  left: 59%;
}

#c03 {
  position: absolute;
  top: 79%;
  left: 23%;
}

#c04 {
  position: absolute;
  top: 42%;
  left: 29%;
}

#access {
  position: relative;
}

#c05 {
  position: absolute;
  top: 30%;
  left: 60%;
}

#c06 {
  position: absolute;
  top: 33%;
  left: 50%;
}

#c07 {
  position: absolute;
  top: 39%;
  left: 54%;
}

#c08 {
  position: absolute;
  top: 46%;
  left: 63%;
}

#c10 {
  position: absolute;
  top: 53%;
  left: 47%;
}

#access div {
  width: 652px;
  margin: 0 auto 0 auto;
  width: 100%;
}

.map {
  width: 100%;
}

th.thead01 {
  width: 14%;
}

th.thead02 {
  width: 14%;
}

caption {
  font-weight: bold;
  font-size: 18px;
}

#sub {
  position: fixed;
  top: 248px;
}
