#floorImg div {
  width: 652px;
  margin: 0 auto 0 auto;
  width: 60%;
}

#floorImg {
  position: relative;
}

#c01 {
  position: absolute;
  top: 77%;
  left: 51%;
}

#c02 {
  position: absolute;
  top: 88%;
  left: 59%;
}

#map img {
  width: 100%;
}

th.thead01 {
  width: 14%;
}

th.thead02 {
  width: 14%;
}

caption {
  font-weight: bold;
  font-size: 18px;
}
