.strings {
  float: left;
  width: 65%;
}

.image img {
  float: right;
  width: 30%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

hr {
  clear: both;
}

#sub {
  position: fixed;
  top: 248px;
}
