.logo {
  float: left;
  position: relative;
}

.addr {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #552707;
  font-size: 24px;
  font-weight: bold;
  float: right;
}

table {
  table-layout: auto;
  width: 100%;
}

table th {
  width: 25%;
  text-align: left;
}

table td {
  width: 75%;
}

table tr:last-child td {
  text-align: center;
}

input[type="email"] {
  width: 300px;
}

input[type="text"] {
  width: 200px;
}

input[type="textarea"] {
  width: 200px;
}

#sub {
  position: fixed;
  top: 248px;
}
