@charset "UTF-8";
h1 {
  line-height: 60px;
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

table tr {
  font-size: 12px;
}

ul li {
  font-size: 12px;
}

dl dt, dl dd {
  font-size: 12px;
}

p {
  font-size: 12px;
}

header, nav, #mainimg, #contents, footer {
  width: 410px;
}

.logo {
  position: static;
  　float: none;
  margin: 25px 0 0px 160px;
}

.logo img {
  width: 140px;
}

.tel {
  float: none;
  clear: both;
  margin: 5px 50px;
  width: 350px;
  font-size: 25px;
  font-weight: bold;
}

.resavation {
  float: none;
  margin: 0 75px;
  width: 50px;
  font-size: 10px;
}

nav {
  position: static;
  float: none;
  margin: 20px 65px;
}

#main, #news h2, #news ul li, #fb h2 {
  float: none;
  margin: 0;
  width: auto;
}

#fb div img {
  width: 430px;
}

#mainimg {
  height: 217px;
}

#mainimg ul li img {
  width: 450px;
}

#illust01 {
  position: static;
  display: none;
}

#illust02 {
  position: static;
  display: none;
}

#illust03 {
  position: static;
  display: none;
}

#news ul li {
  margin-top: 5px;
  padding: 0 0 0 0;
  text-indent: 0;
}

#news ul li time {
  width: auto;
  margin-bottom: 10px;
  display: block;
}

.strings1, .strings2 {
  float: none;
  display: block;
  width: auto;
}

.image1, .image2 {
  float: none;
  display: block;
  width: 100%;
}

#main {
  margin-bottom: 20px;
  padding: 0;
}

#sub {
  margin-left: 10px;
  position: static;
  float: none;
}

.image_wine {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.image_wine img {
  width: 400px;
}

.floor {
  width: 300px;
}

#c01, #c02, #c03, #c04, #c05, #c06, #c07, #c08, #c09 {
  width: 23px;
}

#c01 {
  position: absolute;
  top: 89%;
  left: 55%;
}

#c02 {
  position: absolute;
  top: 89%;
  left: 69%;
}

#c03 {
  position: absolute;
  top: 79%;
  left: 28%;
}

#c04 {
  position: absolute;
  top: 45%;
  left: 32%;
}

#c05 {
  position: absolute;
  top: 24%;
  left: 60%;
}

#c06 {
  position: absolute;
  top: 25%;
  left: 50%;
}

#c07 {
  position: absolute;
  top: 30%;
  left: 54%;
}

#c08 {
  position: absolute;
  top: 34%;
  left: 65%;
}

#c09 {
  position: absolute;
  top: 38%;
  left: 47%;
}

.addr {
  float: none;
}

.addr p {
  font-size: 18px;
  margin: 5px;
}
