@import url(common.css);
header {
  margin: 0 auto 0 auto;
  margin-top: 10px;
  width: 960px;
}

.logo {
  float: left;
  margin: 0 10px;
}

.resavation {
  float: right;
  margin: 0 10px;
}

.tel {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #552707;
}

.logo {
  position: relative;
  top: 20px;
  left: 0px;
}

nav {
  clear: both;
  width: 670px;
  position: relative;
  top: -30px;
  left: 300px;
}

nav ul {
  margin: 0 0 5px 0;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

nav ul li {
  width: 160px;
  float: left;
}

nav ul li a {
  display: block;
  height: 0;
  padding-top: 60px;
  overflow: hidden;
}

nav ul li#nav_top a {
  background: url(../images/navbtn01.gif) no-repeat;
}

nav ul li#nav_menu a {
  background: url(../images/navbtn02.gif) no-repeat;
}

nav ul li#nav_floor a {
  background: url(../images/navbtn03.gif) no-repeat;
}

nav ul li#nav_access a {
  background: url(../images/navbtn04.gif) no-repeat;
}

.bxslider img {
  margin: 0 auto;
  display: block;
}

h2 {
  border-left: 10px solid orange;
  border-bottom: 3px solid #552707;
  padding-left: 10px;
}

#contents {
  width: 960px;
  margin: 0 auto 0 auto;
}

#contentsInner {
  position: relative;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
  background-position: center top;
  background-color: #ffcb4f;
}

#main {
  width: 670px;
  padding: 20px;
  float: left;
  background-color: #ffe4b5;
  margin-bottom: 30px;
}

#sub {
  width: 228px;
  float: right;
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}

footer {
  background-image: url("../images/footer.png");
  background-position: center top;
  background-repeat: repeat-x;
  margin: 0 auto 0 auto;
  text-align: center;
  height: 120px;
  clear: both;
}
